.txttitle {
    text-align: center;
}
.text {
    text-align: left;
    line-height: 4vh;
}
.text p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.txtcontainer {
    flex: 1;
    font-size: 2.2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pcontainer {
    width: 60%;
    column-count: 2;
    column-gap: 3rem;
    /* column-width: 20vh; */
}
.subtitle {
    text-align: right;
}
@media screen and (max-width: 1024px) {
    .txtcontainer {
        font-size: 2.3vh;
        padding: 10vh 6vh 15vh 6vh;
    }
    .pcontainer {
        column-count: 1;
        width: 100%;
    }
}
@media screen and (max-width: 915px) {
    .txtcontainer {
        font-size: 2.2vh;
        padding: 5vh 5vh 8vh 5vh;
    }
    .pcontainer {
        column-count: 1;
        width: 100%;
    }
}
@media screen and (max-width: 820px) {
    .txtcontainer {
        font-size: 2vh;
        padding: 5vh 5vh 5vh 5vh;
    }
    .pcontainer {
        column-count: 1;
        column-width: 20vh;
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .txtcontainer {
        font-size: 2vh;
        padding: 5vh 4vh 5vh 4vh;
    }
    .pcontainer {
        column-count: 1;
        column-width: 20vh;
        width: 100%;
    }
}
@media screen and (max-width: 740px) {
    .txtcontainer {
        font-size: 2vh;
        padding: 5vh 3vh 5vh 3vh;
    }
    .pcontainer {
        column-count: 1;
        column-width: 20vh;
    }
}
@media screen and (max-width: 600px) {
    .txtcontainer {
        font-size: 2vh;
        padding: 5vh 3vh 5vh 3vh;
    }
    .pcontainer {
        column-count: 1;
        column-width: 20vh;
    }
}
@media screen and (max-width: 475px) {
    .txtcontainer {
        font-size: 0.95rem;
    }
    .pcontainer {
        width: 100%;
    }
}
