.sonnypage {
    background-color: black;
    color: white;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 9000;
    position: absolute;
    box-sizing: border-box;
}

.sonnypage p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.sonnycontents {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 40rem;
}

.sonnytitle {
    color: white;
    padding-top: 2rem;
    font-family: "DungGeunMo";
    font-size: 1.875rem;
    text-align: center;
}

.sonnybanner {
    font-family: "DungGeunMo";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 0;
}
.sonnybannercon {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
    align-items: center;
}
.sonnyphoto {
    width: 10rem;
    height: auto;
}
.bannercon {
    text-align: center;
    font-size: 2.8rem;
    line-height: 2rem;
    color: orange;
    width: 14rem;
}
.sonnytime {
    color: white;
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding-bottom: 0.5rem;
    min-height: 56px;
}
.bannercontwo {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    justify-content: center;
}
.sonnymark {
    color: yellow;
}
.sonnynum {
    color: magenta;
}
.sonnygoal {
    color: #00ff08;
    font-style: italic;
}
.sonnytext {
    text-align: center;
    font-family: "DungGeunMo";
    font-size: 1.125rem;
    line-height: 1.9rem;
    z-index: 10;
}
.sonnygif {
    position: absolute;
    top: 45%;
    opacity: 0.6;
}
.sonnygifimg {
    width: 17.5rem;
}
.sonnycaption {
    position: relative;
    padding: 2rem 0 0;
    font-family: "DungGeunMo";
    font-size: 1.125rem;
    color: white;
    opacity: 0.6;
}
.sonnyviewpage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: black;
    background-color: white;
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    margin: 2rem;
}
.sonnycontents a {
    text-decoration: none;
    color: white;
}
.sonnycontents a:focus {
    outline: "0px";
    background-color: transparent;
}
@media screen and (max-width: 1800px) {
    .sonnypage {
        overflow: auto;
    }
    .sonnytitle {
        padding-top: 1.4rem;
    }
    .sonnyviewpage {
        margin: 0.9rem;
    }
}
@media screen and (max-width: 1477px) {
    .sonnypage {
        overflow: auto;
    }
    .sonnytitle {
        padding-top: 1.4rem;
    }
    .sonnyviewpage {
        margin: 1rem;
    }
}
@media screen and (max-width: 1180px) and (orientation: landscape) {
    .sonnypage {
        overflow: auto;
    }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
    .sonnypage {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sonnygif {
        top: 35%;
    }
    .sonnycaption {
        padding: 0;
    }
    .sonnyviewpage {
        margin: 3rem 0;
    }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
    .sonnypage {
        overflow: auto;
    }
}
@media screen and (max-width: 820px) and (orientation: portrait) {
    .sonnypage {
        height: 100%;
        display: flex;
    }
}
@media screen and (max-width: 820px) and (orientation: landscape) {
    .sonnypage {
        display: flex;
    }
}
@media screen and (max-width: 430px) {
    .sonnypage {
        height: 100%;
        overflow: auto;
    }
    .sonnycontents {
        width: 24rem;
    }
    .sonnytitle {
        padding-top: 2rem;
        font-size: 1.25rem;
        width: 25.5rem;
    }
    .sonnystar {
        font-size: 0.7rem;
    }
    .sonnyphoto {
        width: 7rem;
        height: auto;
    }
    .bannercon {
        font-size: 2.5rem;
        line-height: 2rem;
        width: 9.5rem;
    }
    .sonnytime {
        font-size: 1rem;
        line-height: 1rem;
    }
    .sonnytext {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .sonnygif {
        top: 52%;
    }
    .sonnygifimg {
        width: 15rem;
    }
    .sonnycaption {
        padding: 4.2rem 0 0;
    }
    .sonnyviewpage {
        font-size: 1.2rem;
        width: 6rem;
        height: 2.3rem;
        border-radius: 0.3rem;
        margin: 1.7rem 0;
    }
}
@media screen and (max-width: 390px) {
    .sonnypage {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .sonnycontents {
        width: 22rem;
    }
    .sonnytitle {
        padding-top: 1.2rem;
        font-size: 1.1rem;
        width: 22rem;
    }
    .sonnybanner {
        padding: 1rem 0;
    }
    .sonnybannercon {
        padding: 0.5rem 0;
    }
    .sonnyphoto {
        width: 7rem;
        height: auto;
    }
    .bannercon {
        font-size: 2rem;
        line-height: 1.5rem;
        width: 8rem;
    }
    .sonnytime {
        font-size: 0.8rem;
        line-height: 1rem;
    }
    .sonnytext {
        font-size: 0.8rem;
        line-height: 1.1rem;
    }
    .sonnygif {
        top: 30%;
    }
    .sonnygifimg {
        width: 15rem;
    }
    .sonnycaption {
        padding: 0;
        font-size: 1rem;
    }
    .sonnyviewpage {
        font-size: 1.2rem;
        width: 6rem;
        height: 2.3rem;
        border-radius: 0.3rem;
        margin: 2rem 0;
    }
    .sonnystar {
        font-size: 0.5rem;
    }
}
@media screen and (max-width: 320px) {
    .sonnypage {
        height: 100%;
    }
    .sonnycontents {
        width: 19rem;
    }
    .sonnytitle {
        padding-top: 1rem;
        font-size: 1rem;
        width: 20rem;
    }
    .sonnystar {
        text-align: center;
    }
    .sonnybannercon {
        width: 19rem;
    }
    .sonnyphoto {
        width: 6rem;
        height: auto;
    }
    .bannercon {
        font-size: 1.5rem;
        line-height: 1.3rem;
        width: 8rem;
    }
    .sonnytime {
        font-size: 0.8rem;
        line-height: 1rem;
        padding-bottom: 0.2rem;
    }
    .sonnytext {
        font-size: 0.8rem;
        line-height: 1.3rem;
    }
    .sonnygif {
        top: 49%;
    }
    .sonnygifimg {
        width: 14rem;
    }
    .sonnycaption {
        padding: 4.5rem 0 0;
        font-size: 0.8rem;
    }
    .sonnyviewpage {
        font-size: 1rem;
        height: 2rem;
        margin: 1.2rem 0;
    }
}
