@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

@layer components {
}

@layer base {
    .link {
        @apply p-[0px] text-black no-underline transition ease-in duration-500;
    }

    .link:hover,
    .link:focus {
        @apply text-[rgb(255,100,100)] bg-white;
    }

    @font-face {
        font-family: "NeoDunggeunmo";
        src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff")
            format("woff");
        font-weight: normal;
        font-style: normal;
    }
}
